.frr{
    flex-direction: row-reverse;
}
.bonsaye{/* Frame 1261153877 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    isolation: isolate;
    
    width: 1224px;
    height: 2615px;

}
/* Frame 148 */
.bonsaye{

    box-sizing: border-box;
    
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 28px 20px;
    gap: 10px;
    
    width: 288px;
    height: 240px;
    
    background: linear-gradient(180deg, rgba(65, 127, 86, 0) 0%, rgba(65, 127, 86, 0.3) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image.png);
    border-radius: 8px;
    
    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 1;
    
}